*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    
}
body{
    background-color: #F5F5F5;
}
/* .container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 2px -5px 10px 2px rgba(0, 0, 0, 0.5)
} */
.left{
    background-color: #E3FFFA;
    padding: 50px;
}
.right{
    background-color: #ffffff;
    padding: 0px 50px 50px 0px;
}
.name{
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
}

.profession{
   display: grid;
   grid-template-columns: 0.5fr 6fr;
}

.software{
    
   
    padding-top: 40px;
    padding-left: 10px;
}
.hyphen{
    
    font-size: 75px;  
}
.education{
width: 33%;
letter-spacing: .3rem;
font-family: sans-serif;
font-weight: 900;

}
hr{
    position: relative;
    top: 10px;
    border: none;
    height: 4px;
    width: 150px;
    background: black;
    margin-bottom: 20px;

}

.skills{
    width: 33%;
    letter-spacing: .3rem;
    font-family: sans-serif;
    font-weight: 900;  
}

.profile{
    display: flex;
    margin-left: 35px;
}
.address{
    margin-top: 70px;
    margin-left: 30px;

}
.address a{
    text-decoration: none;
    color: black;
    margin-left: -30px;
}
.statement-header,.experience_header{
    margin-top: 20px;
    margin-left: 35px;
    width: 45%;
    letter-spacing: .3rem;
    font-family: sans-serif;
    font-weight: 900;
}
/* .hr_right{
    position: relative;
    top: 20px;
    border: none;
    height: 4px;
    background: black;
    margin-bottom: 50px;
    width: 170px; 
} */
.statement-text,.experience-text{
    margin-left: 35px;
}
.experience-text li{
    margin-left: 14px;
}
.experience1-header,.experience2,.experience3-header,.experience4-header{
font-family: sans-serif;
font-weight: 900;
margin-bottom: 15px;
}



/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
    .container{
        display: grid;
        grid-template-columns: 1fr ;
        width: 30%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 20px;
        
    }
    
 }

/* // Medium devices (tablets, 480px and up) */
@media (min-width: 480px) { 
    .container{
        display: grid;
        grid-template-columns: 1fr ;
        width: 30%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 20px;
        
    }
   
}
/* 
// Large devices (desktops, 720px and up) */
@media (min-width: 720px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1.2fr;
        width: 30%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 20px;
        
    }
    
 }

/* // X-Large devices (large desktops, 1080px and up) */
@media (min-width: 1080px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 30%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 20px;
        
    }
    
  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { .container{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: 2px -5px 10px 2px rgba(0, 0, 0, 0.5)
}
   
 }